{:deps  {re-frame                  {:mvn/version "1.2.0"}
         cljs-http                 {:mvn/version "0.1.46"}
         cheshire                  {:mvn/version "5.10.2"}
         org.clojure/spec.alpha    {:mvn/version "0.3.218"}
         re-graph.hato             {:mvn/version "0.2.0"}
         org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :paths ["src"]}
